.courses {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .sliderTitle {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #140342;

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 12px;
        }

        .sliderButton {
            background: #f4f2ff url("../assets/icons/slider-up-right.png");
            background-repeat: no-repeat;
            background-position: 86% 50%;
            background-size: 25px;
            display: flex;
            align-items: center;
            color: #6541fa;
            border: none;
            font-weight: 600;
            border-radius: 10px;
            width: 150px;
            padding: 15px;
            transition: 0.8s;
            cursor: pointer;
        }

        .sliderButton:hover {
            border-radius: 25px;
        }
    }
}

@media (max-width: 1280px) { 
    .courses {
        height: 700px;
    }
}